[app]
[app.log]
level = "TRACE"
file_path = "./logs/core.log"
backup_num = 7

[app.azure]
bus_connection_string=""
topic = 'picture-collector'
subscription = 'core'


[database]
host = 'localhost'
port = 3306
user = 'root'
password = ''
database = 'picture_collector'