[app]
debug = true

[database]
host = ''
port = 3306
user = 'root'
password = ''
database = ''

[log]
level = "TRACE"
file_path = "./logs/core.log"
backup_num = 7

[messenger]
[messenger.azure]
sub_topic = 'picture-collector-collector'
subscription = 'core'
pub_topic = "picture-collector-core"

