[app]
debug = true
[app.log]
level = "TRACE"
file_path = "./logs/collector.log"
backup_num = 7
[app.azure]
bus_connection_string=''
topic = 'picture-collector'

[sources]
[sources.pixiv]
enable = true
url = 'https://rsshub.app/pixiv/user/bookmarks/32832322'
interval = 30
